.title{
    width: 1440px;
    height: 80px;
    padding: 0px 0px;
    background:white;
}

.title_box{
    width: 1440px;
    height: 720px;

}
.text_bottom_img{

    position: absolute;
    top: 94px;
    left: 65px;
    color: white;
    padding: 10px;
    text-align: center;
    font: bold 22px/34px Helvetica, Sen;
}

.text_bottom_img_2{

    position: absolute;
    top: 74px;
    left: 65px;
    color: white;
    padding: 10px;
    text-align: center;
    font: bold 8px/34px Helvetica, Sen;
}
.text_bottom_img_3{

    position: absolute;
    top: 320px;
    left: 65px;
    color: white;
    padding: 10px;
    text-align: center;
    font: bold 8px/34px Helvetica, Sen;
}
.text_bottom_img_4{

    position: absolute;
    top: 360px;
    left: 65px;
    color: white;
    padding: 10px;
    text-align: center;
    font: bold 8px/34px Helvetica, Sen;
}

.btn_1{

    position: absolute;
    top: 590px;
    left: 145px;
    color: white;
    padding: 10px;
}
.btn_2{

    position: absolute;
    top: 5px;
    right: 25px;
    color: white;
    padding: 10px;
}
.btn_3{

    position: absolute;
    top: 4025px;
    right: 0px;
    color: white;
    padding: 10px;
}

.btn_1_1{

    position: absolute;
    top: 1790px;
    left: 105px;
    color: white;
    padding: 10px;
}

.btn_1_2{

    position: absolute;
    top: 2890px;
    left: 105px;
    color: white;
    padding: 10px;
}


.text_title_box{
    color: white;
    font-size: larger;
}

.title_box_2{
    width: 1440px;
}
.text_bottom_title{

    position: absolute;
    top: 750px;
    left: 10px;
    color: white;
    padding: 10px;
    font: bold 20px/34px Helvetica, Sen;
    color: black;
}

.text_bottom_title_2{

    position: absolute;
    top: 1400px;
    left: 10px;
    color: white;
    padding: 10px;
    font: bold 20px/34px Helvetica, Sen;
    color: black;
}

.tbx{

    position: absolute;
    top: 2000px;
    left: 10px;
    color: white;
    padding: 10px;
    font: bold 20px/34px Helvetica, Sen;
    color: black;
}

.tbx_2{

    position: absolute;
    top: 2640px;
    left: 10px;
    color: white;
    padding: 10px;
    font: bold 20px/34px Helvetica, Sen;
    color: black;
}


